<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:extend>
    <div class="admin-table">
        <div class="scrollbar"><div class="innerScrollbar"><!--dummy text--></div></div>
        <div class="scrollable col-12-sm" style="overflow-x:scroll;margin-top:15px;  overflow-y: hidden;">
            <table class="table table-bordered table-condensed table-fixed-header">
                <thead class='header'>
                <tr>
                    <th wicket:id="headerRepeater">
                        <span wicket:id="label"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <wicket:container wicket:id="rowRepeater">
                    <tr wicket:id="item"></tr>
                </wicket:container>
                </tbody>
            </table>
        </div>
    </div>
</wicket:extend>
</body>
</html>