<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="en">
<body>
<wicket:extend>
    <div style="background-image:url(/img/list.png);padding: 10px 0px 10px 35px;">
        <a href="#" class="download bold" wicket:id="fb2pic">Скачать fb2 </a><span class="bold"></span>

        <div class="italic">С иллюстрациями</div>
    </div>
    <div style="background-image:url(/img/list.png);padding: 10px 0px 10px 35px;">
        <a href="#" class="download bold" wicket:id="fb2nopic">Скачать fb2 </a><span class="bold"></span>

        <div class="italic">Без иллюстраций</div>
    </div>
    <div style="background-image:url(/img/list.png);padding: 10px 0px 10px 35px;">
        <a href="#" class="download bold" wicket:id="docx">Скачать docx </a><span class="bold"></span>

        <div class="italic">С иллюстрациями</div>
    </div>
    <div style="background-image:url(/img/list.png);padding: 10px 0px 10px 35px;">
        <a href="#" class="download bold" wicket:id="epub">Скачать epub </a><span class="bold"></span>

        <div class="italic">С иллюстрациями</div>
    </div>
</wicket:extend>
</body>
</html>