<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="en">
<body>
<wicket:extend>
    <div style="background-image:url(/img/list.png);padding: 10px 0 10px 35px;">
        <a href="#" class="download bold" wicket:id="fb2">Скачать fb2</a>
        <div class="italic" wicket:id="fb2-text">С иллюстрациями</div>
    </div>
    <div style="background-image:url(/img/list.png);padding: 10px 0 10px 35px;">
        <a href="#" class="download bold" wicket:id="docx">Скачать docx</a>
        <div class="italic" wicket:id="docx-text">С иллюстрациями</div>
    </div>
    <div style="background-image:url(/img/list.png);padding: 10px 0 10px 35px;">
        <a href="#" class="download bold" wicket:id="epub">Скачать epub</a>
        <div class="italic" wicket:id="epub-text">С иллюстрациями</div>
    </div>
    <div style="padding:0 10px" wicket:enclosure="images">
        <div class="pull-left">
            <div class="checkbox" title="Скачивать без иллюстраций">
                <label><input type="checkbox" class="download-images" wicket:id="images">Иллюстрации</label>
            </div>
        </div>
        <div class="pull-right" wicket:enclosure="">
            <div class="checkbox" title="Скачивать с оригинальными ч/б иллюстрациями вместо покрасов">
                <label><input type="checkbox" class="download-bw" wicket:id="bw">Ч/Б</label>
            </div>
        </div>
    </div>
</wicket:extend>
</body>
</html>