<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="en">
<body>
<wicket:extend>
    <div style="padding: 5px 10px;" wicket:id="title"></div>
    <div class="qiwi-icon" wicket:id="qiwi" title="QIWI-кошелек"></div>
    <div class="webmoney-icon" wicket:id="wmr" title="Webmoney WMR-кошелек (российский рубль)"></div>
    <div class="webmoney-icon" wicket:id="wmu" title="Webmoney WMU-кошелек (гривна)"></div>
    <div class="webmoney-icon" wicket:id="wmz" title="Webmoney WMZ-кошелек (доллар США)"></div>
    <div class="webmoney-icon" wicket:id="wme" title="Webmoney WME-кошелек (евро)"></div>
    <div class="webmoney-icon" wicket:id="wmb" title="Webmoney WMB-кошелек (белорусский рубль)"></div>
    <div class="webmoney-icon" wicket:id="wmg" title="Webmoney WMG-кошелек (золото)"></div>
    <div class="webmoney-icon" wicket:id="wmk" title="Webmoney WMК-кошелек (казахский тенге)"></div>
    <div class="webmoney-icon" wicket:id="wmx" title="Webmoney WMX-кошелек (Bitcoin)"></div>
    <div class="yandex-icon" wicket:id="yandex" title="Яндекс-деньги"></div>
    <div class="paypal-icon" wicket:id="paypal" title="PayPal-кошелек"></div>
    <div class="card-icon" wicket:id="card" title="Счет для перевода с кредиток"></div>
    <div class="bitcoin-icon" wicket:id="bitcoin" title="Bitcoin адресс"></div>
    <div style="padding: 5px 10px 0; text-align: center" wicket:enclosure=""
         title="Перевести с кошелька Яндекс-деньги">
        <iframe frameborder="0" allowtransparency="true" scrolling="no" width="140" height="25"
                wicket:id="yandexMoneyButton"></iframe>
    </div>
    <div style="padding: 5px 10px 0; text-align: center" wicket:enclosure=""
         title="Перевести с карты">
        <iframe frameborder="0" allowtransparency="true" scrolling="no" width="140" height="25"
                wicket:id="yandexCardButton"></iframe>
    </div>
    <div style="padding: 5px 10px 0; text-align: center" wicket:enclosure=""
         title="Перевести с баланса мобильного телефона">
        <iframe frameborder="0" allowtransparency="true" scrolling="no" width="140" height="25"
                wicket:id="yandexMobileButton"></iframe>
    </div>
    <div style="padding: 5px 10px 0; text-align: center" wicket:enclosure="paypalButton"
         title="Перевести с PayPal">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick"/>
            <input type="hidden" name="hosted_button_id" wicket:id="paypalButton"/>
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit"
                   alt="Donate"/>
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
        </form>
    </div>
</wicket:extend>
</body>
</html>