<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="en">
<body>
<wicket:extend>
    <div style="background-color:rgb(242, 242, 242);padding: 5px 10px 0 10px;">
        <p>
            QIWI-кошелек:<br>
            <a href="skype:+79116857099"><b>+79116857099</b></a>
        </p>
        <p>
            Webmoney-кошельки:<br>
            <b>R125820793397</b> (Рубль)<br>
            <b>U911921912420</b> (Гривна)<br>
            <b>Z608138208963</b> (Доллар)<br>
            <b>E656434626499</b> (Евро)<br>
        </p>
        <p>
            Яндекс-деньги:<br>
            <b>410012692832515</b><br>
        </p>
        <p>
            PayPal-кошелек:<br>
            <a href="mailto:paypal@ruranobe.ru"><b>paypal@ruranobe.ru</b></a><br>
        </p>
        <p>
            Счет для перевода с кредиток:<br>
            <b>4890 4941 5384 9302</b><br>
        </p>
    </div>
</wicket:extend>
</body>
</html>