<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="en">
<body>
<wicket:extend>
    <div style="padding: 5px 10px;" wicket:id="title"></div>
    <div style="background-image:url(/img/requisites/qiwi.png)" wicket:id="qiwi"
         title="QIWI-кошелек"></div>
    <div style="background-image:url(/img/requisites/webmoney.png)" wicket:id="wmr"
         title="Webmoney WMR-кошелек (российский рубль)"></div>
    <div style="background-image:url(/img/requisites/webmoney.png)" wicket:id="wmu"
         title="Webmoney WMU-кошелек (гривна)"></div>
    <div style="background-image:url(/img/requisites/webmoney.png)" wicket:id="wmz"
         title="Webmoney WMZ-кошелек (доллар США)"></div>
    <div style="background-image:url(/img/requisites/webmoney.png)" wicket:id="wme"
         title="Webmoney WME-кошелек (евро)"></div>
    <div style="background-image:url(/img/requisites/webmoney.png)" wicket:id="wmb"
         title="Webmoney WMB-кошелек (белорусский рубль)"></div>
    <div style="background-image:url(/img/requisites/webmoney.png)" wicket:id="wmg"
         title="Webmoney WMG-кошелек (золото)"></div>
    <div style="background-image:url(/img/requisites/webmoney.png)" wicket:id="wmk"
         title="Webmoney WMК-кошелек (казахский тенге)"></div>
    <div style="background-image:url(/img/requisites/webmoney.png)" wicket:id="wmx"
         title="Webmoney WMX-кошелек (Bitcoin)"></div>
    <div style="background-image:url(/img/requisites/yandex.png)" wicket:id="yandex"
         title="Яндекс-деньги"></div>
    <div style="background-image:url(/img/requisites/paypal.png)" wicket:id="paypal"
         title="PayPal-кошелек"></div>
    <div style="background-image:url(/img/requisites/card.png)" wicket:id="card"
         title="Счет для перевода с кредиток"></div>
    <div style="background-image:url(/img/requisites/bitcoin.png)" wicket:id="bitcoin"
         title="Bitcoin адресс"></div>
</wicket:extend>
</body>
</html>