<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="en">
<body>
<wicket:panel>
    <div class="module" wicket:id="module">
        <div wicket:id="moduleWrapper">
            <div class="module_name opened" wicket:id="moduleHeading">
                <i class="fa fa-chevron-down pull-left" wicket:id="moduleHeadingChevron"></i>

                <div class="h4" wicket:id="moduleHeadingName"></div>
            </div>
            <div wicket:id="moduleBody">
                <wicket:child/>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>