<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="en">
<body>
<wicket:extend>
    <script type="text/javascript">
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };
            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <a class="twitter-timeline" data-theme="" href="https://twitter.com/RuRa_team"
       data-widget-id="540043044683546624">Твиты от @RuRa_team</a>
</wicket:extend>
</body>
</html>