<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <h3>Настройка серии</h3>

    <div class="form-group">
        <label wicket:for="url">Ссылка</label>
        <input wicket:id="url" class="form-control url-input" type="text"/>
    </div>

    <div class="form-group">
        <label wicket:for="title">Заголовок</label>
        <input wicket:id="title" class="form-control name-input" type="text"/>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label><input wicket:id="projectHidden" type="checkbox"> Проект скрыт</label>
        </div>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label><input wicket:id="bannerHidden" type="checkbox"> Баннер скрыт</label>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group banner-upload" style="position: relative;">
            <label wicket:for="image">Изображение</label>
            <wicket:container wicket:id="image"/>
        </div>
    </div>
</wicket:panel>
</body>
</html>