<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <h3>Настройка команды</h3>

    <div class="form-group">
        <label wicket:for="teamName">Название</label>
        <input wicket:id="teamName" class="form-control name-input" type="text">
        <label wicket:for="teamWebsiteLink">Ссылка</label>
        <input wicket:id="teamWebsiteLink" class="form-control url-input" type="text">
    </div>
</wicket:panel>
</body>
</html>