<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:wicket="http://wicket.apache.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<wicket:panel>
    <h3>Настройка участника</h3>

    <div class="form-group">
        <label wicket:for="nickname">Никнейм</label>
        <input wicket:id="nickname" class="form-control name-input" type="text">
    </div>

    <div class="form-group">
        <label wicket:for="team">Название команды</label>
        <select wicket:id="team" class="form-control all_teams"></select>
    </div>

    <div class="form-group">
        <div class="username-input">
            <label wicket:for="userName">Пользователь</label>
            <input wicket:id="userName" class="form-control typeahead" type="text">
            <input wicket:id="userId" class="user-id-hidden" type="hidden">
        </div>
    </div>

    <div class="form-group">
        <label wicket:for="userRoles">Роли</label>
        <select wicket:id="userRoles" class="form-control role-select" multiple></select>
    </div>
</wicket:panel>
</body>
</html>