<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <h3>Настройка вида</h3>

    <div class="form-group">
        <label wicket:for="activityName">Название</label>
        <input wicket:id="activityName" class="form-control name-input" type="text">
        <label wicket:for="activityType">Тип</label>
        <select wicket:id="activityType" class="form-control"></select>
    </div>
</wicket:panel>
</body>
</html>