<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.ruranobe.mybatis.mappers.ChapterImagesMapper">

    <!--cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache-->

    <select id="getChapterImagesByVolumeId" parameterType="int" resultMap="chapterImageMap">
        SELECT
            chapter_image_id,
            chapter_id,
            volume_id,

            order_number,
            adult,

            non_colored.resource_id   AS resourceId1,
            non_colored.user_id       AS userId1,
            non_colored.mime_type     AS mimeType1,
            non_colored.url           AS url1,
        non_colored.thumbnail AS thumbnail1,
            non_colored.title         AS title1,
            non_colored.uploaded_when AS uploadedWhen1,

            colored.resource_id       AS resourceId2,
            colored.user_id           AS userId2,
            colored.mime_type         AS mimeType2,
            colored.url               AS url2,
        colored.thumbnail AS thumbnail2,
            colored.title             AS title2,
            colored.uploaded_when     AS uploadedWhen2
        FROM chapter_images
            LEFT JOIN external_resources non_colored
                ON non_colored.resource_id = chapter_images.non_colored_image_id
            LEFT JOIN external_resources colored
                ON colored.resource_id = chapter_images.colored_image_id
        WHERE volume_id = #{volumeId}
    </select>

    <select id="getChapterImagesByChapterId" parameterType="int" resultMap="chapterImageMap">
        SELECT
            chapter_image_id,
            chapter_id,
            volume_id,

            order_number,
            adult,

            non_colored.resource_id   AS resourceId1,
            non_colored.user_id       AS userId1,
            non_colored.mime_type     AS mimeType1,
            non_colored.url           AS url1,
        non_colored.thumbnail AS thumbnail1,
            non_colored.title         AS title1,
            non_colored.uploaded_when AS uploadedWhen1,

            colored.resource_id       AS resourceId2,
            colored.user_id           AS userId2,
            colored.mime_type         AS mimeType2,
            colored.url               AS url2,
        colored.thumbnail AS thumbnail2,
            colored.title             AS title2,
            colored.uploaded_when     AS uploadedWhen2
        FROM chapter_images
            LEFT JOIN external_resources non_colored
                ON non_colored.resource_id = chapter_images.non_colored_image_id
            LEFT JOIN external_resources colored
                ON colored.resource_id = chapter_images.colored_image_id
        WHERE chapter_id = #{chapterId}
    </select>

    <insert id="insertChapterImage" parameterType="ru.ruranobe.mybatis.entities.tables.ChapterImage"
            keyProperty="chapterImageId"
            useGeneratedKeys="true">
        INSERT INTO chapter_images
        SET volume_id = #{volumeId},
        chapter_id = #{chapterId},
        non_colored_image_id = #{nonColoredImage.resourceId},
        colored_image_id = #{coloredImage.resourceId},
        order_number = #{orderNumber},
        adult = #{adult}
    </insert>

    <delete id="deleteChapterImage" parameterType="int">
        DELETE FROM chapter_images
        WHERE chapter_image_id = #{chapterImageId}
    </delete>

    <update id="updateChapterImage" parameterType="ru.ruranobe.mybatis.entities.tables.ChapterImage">
        UPDATE chapter_images
        SET volume_id = #{volumeId},
        chapter_id = #{chapterId},
        non_colored_image_id = #{nonColoredImage.resourceId},
        colored_image_id = #{coloredImage.resourceId},
        order_number = #{orderNumber},
        adult = #{adult}
        WHERE chapter_image_id = #{chapterImageId}
    </update>

    <resultMap id="chapterImageMap" type="ru.ruranobe.mybatis.entities.tables.ChapterImage">

        <!--constructor>
            <idArg column="blog_id" javaType="int"/>
        </constructor-->

        <result property="chapterImageId" column="chapter_image_id"/>
        <result property="chapterId" column="chapter_id"/>
        <result property="volumeId" column="volume_id"/>
        <!--result property="nonColoredImageId" column="non_colored_image_id"/>
        <result property="coloredImageId" column="colored_image_id"/-->
        <result property="orderNumber" column="order_number"/>
        <result property="adult" column="adult"/>

        <association property="nonColoredImage" javaType="ru.ruranobe.mybatis.entities.tables.ExternalResource">
            <id property="resourceId" column="resourceId1"/>
            <result property="userId" column="userId1"/>
            <result property="mimeType" column="mimeType1"/>
            <result property="url" column="url1"/>
            <result property="thumbnail" column="thumbnail1"/>
            <result property="title" column="title1"/>
            <result property="uploadedWhen" column="uploadedWhen1"/>
        </association>

        <association property="coloredImage" javaType="ru.ruranobe.mybatis.entities.tables.ExternalResource">
            <id property="resourceId" column="resourceId2"/>
            <result property="userId" column="userId2"/>
            <result property="mimeType" column="mimeType2"/>
            <result property="url" column="url2"/>
            <result property="thumbnail" column="thumbnail2"/>
            <result property="title" column="title2"/>
            <result property="uploadedWhen" column="uploadedWhen2"/>
        </association>

    </resultMap>

</mapper>