<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.ruranobe.mybatis.mappers.ChaptersMapper">

    <!--cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache-->

    <select id="getChaptersByVolumeId" parameterType="int" resultMap="ChaptersResult">
        SELECT *
        FROM chapters
        WHERE volume_id = #{volumeId}
        ORDER BY order_number ASC
    </select>

    <select id="getChapterByUrl" parameterType="String" resultMap="ChaptersResult">
        SELECT *
        FROM chapters
        WHERE url = #{url}
    </select>

    <insert id="insertChapter" parameterType="ru.ruranobe.mybatis.tables.Chapter" keyProperty="chapterId" useGeneratedKeys="true">
        insert into chapters (volume_id, text_id, url, title, order_number, published, nested)
        values (#{volumeId}, #{textId}, #{url}, #{title}, #{orderNumber}, #{published}, #{nested})
    </insert>

    <delete id="deleteChapter" parameterType="int">
        delete from chapters where chapter_id=#{chapterId}
    </delete>

    <update id="updateChapter" parameterType="ru.ruranobe.mybatis.tables.Chapter">
        update chapters set volume_id = #{volumeId}, text_id=#{textId}, url=#{url}, title = #{title}, order_number=#{orderNumber},
        published=#{published}, nested=#{nested}
        where chapter_id=#{chapterId}
    </update>

    <resultMap type="ru.ruranobe.mybatis.tables.Chapter" id="ChaptersResult">
        <id property="chapterId" column="chapter_id"/>
        <result property="volumeId" column="volume_id"/>
        <result property="textId" column="text_id"/>
        <result property="url" column="url"/>
        <result property="title" column="title"/>
        <result property="orderNumber" column="order_number"/>
        <result property="published" column="published"/>
        <result property="nested" column="nested"/>
    </resultMap>

</mapper>