<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.ruranobe.mybatis.mappers.ChapterUrlDetailsMapper">

    <!--cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache-->

    <select id="getChapterUrlDetailsByChapter" parameterType="int" resultMap="chapterUrlDetailsMap">
        SELECT
            c.url                            AS chapter_url,
            v.url                            AS volume_url,
            if(p.url IS NULL, p2.url, p.url) AS project_url,
            c.title                          AS chapter_title,
            v.name_ru                        AS volume_title,
            p.title                          AS project_title
        FROM chapters c
            JOIN volumes v ON v.volume_id = c.volume_id
            JOIN projects p ON p.project_id = v.project_id
            LEFT JOIN projects p2 ON p2.project_id = p.parent_id
        WHERE c.chapter_id = #{chapterId}
    </select>

    <resultMap id="chapterUrlDetailsMap" type="ru.ruranobe.mybatis.entities.additional.ChapterUrlDetails">
        <result property="chapterUrl" column="chapter_url"/>
        <result property="volumeUrl" column="volume_url"/>
        <result property="projectUrl" column="project_url"/>
        <result property="chapterTitle" column="chapter_title"/>
        <result property="volumeTitle" column="volume_title"/>
        <result property="projectTitle" column="project_title"/>
    </resultMap>

</mapper>