<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.ruranobe.mybatis.mappers.OrphusCommentsMapper">

    <!--cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache-->

    <insert id="insertOrphusComment" parameterType="ru.ruranobe.mybatis.entities.tables.OrphusComment">
        INSERT INTO orphus_comments (chapter_id, paragraph, start_offset, original_text, replacement_text,
                                     optional_comment, created_when)
        VALUES (#{chapterId}, #{paragraph}, #{startOffset}, #{originalText}, #{replacementText}, #{optionalComment},
                #{createdWhen})
    </insert>

    <select id="getLastOrphusCommentsBy" parameterType="map" resultMap="OrphusCommentResult">
        select c.*,
               p.*,
               u.username,
               ch.url,
               ch.title
        from orphus_comments c
        join paragraphs p
          on p.paragraph_id = c.paragraph
        left join users u
          on u.user_id = c.user_id
        join chapters ch
          on ch.chapter_id = c.chapter_id
        ORDER BY c.created_when
        <if test="sortingOrder == 'asc'">
            ASC
        </if>
        <if test="sortingOrder == 'desc'">
            DESC
        </if>
        LIMIT #{limitFrom}, #{limitTo}
    </select>

    <select id="getOrphusCommentsSize" resultType="int">
        select count(1)
        from orphus_comments c
        join paragraphs p
          on p.paragraph_id = c.paragraph
        join chapters ch
          on ch.chapter_id = c.chapter_id
    </select>

    <resultMap type="ru.ruranobe.mybatis.entities.tables.OrphusComment" id="OrphusCommentResult">
        <result property="chapterId" column="chapter_id"/>
        <result property="paragraph" column="paragraph"/>
        <result property="startOffset" column="start_offset"/>
        <result property="originalText" column="original_text"/>
        <result property="replacementText" column="replacement_text"/>
        <result property="optionalComment" column="optional_comment"/>
        <result property="userId" column="user_id"/>
        <result property="userIp" column="user_ip"/>
        <result property="createdWhen" column="created_when"/>
        <result property="username" column="username"/>
        <result property="chapterUrl" column="url"/>
        <result property="chapterName" column="title"/>
        <association property="paragrap" javaType="ru.ruranobe.mybatis.entities.tables.Paragraph">
            <id property="paragraphId" column="paragraph_id"/>
            <result property="paragraphText" column="paragraph_text"/>
            <result property="textId" column="text_id"/>
        </association>
    </resultMap>

</mapper>