<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.ruranobe.mybatis.mappers.ProjectsMapper">
    <resultMap id="sectionDomain" type="SimpleEntry">
        <result property="key" column="domain" javaType="String"/>
        <result property="value" column="section_id" javaType="Integer"/>
    </resultMap>

    <select id="getAllDomains" resultMap="sectionDomain">
        SELECT *
        FROM section_domains;
    </select>

    <select id="getDomain" resultMap="sectionDomain">
        SELECT *
        FROM section_domains
        WHERE domain = #{domain};
    </select>

    <resultMap id="sectionProject" type="SectionProject">
        <result property="sectionId" column="sectionId"/>
        <result property="projectId" column="project_id"/>
        <result property="mode" column="mode"
                typeHandler="ru.ruranobe.mybatis.handlers.UpperToLowerCaseEnumTypeHandler"/>
        <result property="url" column="url"/>
        <result property="alias" column="alias"/>
        <result property="projectHidden" column="project_hidden"/>
        <result property="bannerHidden" column="banner_hidden"/>
        <result property="main" column="main"/>
        <result property="order" column="order"/>
    </resultMap>

    <select id="getAllSectionProjects" resultMap="sectionProject">
        SELECT *
        FROM section_projects
        WHERE section_id = #{sectionId}
        ORDER BY `order`;
    </select>

    <select id="getSectionProjectByUrl" resultMap="sectionProject">
        SELECT *
        FROM section_projects
        WHERE section_id = #{sectionId} AND url = #{url};
    </select>

    <select id="getRootProjects" resultMap="ProjectResult">
        SELECT *
        FROM projects
        WHERE parent_id IS NULL
        ORDER BY order_number;
    </select>

    <select id="getAllProjects" resultMap="ProjectResult">
        SELECT *
        FROM projects
        ORDER BY order_number;
    </select>

    <select id="getAllProjectsWithCustomColumns" parameterType="String" resultMap="ProjectResult">
        SELECT ${columns}
        FROM projects
        WHERE !project_hidden
        ORDER BY order_number;
    </select>

    <select id="getProjectById" parameterType="Integer" resultMap="ProjectResult">
        SELECT *
        FROM projects
        WHERE project_id = #{projectId}
    </select>

    <select id="getProjectUpdateDate" parameterType="Integer" resultType="java.util.Date">
        SELECT max(show_time)
        FROM projects
        INNER JOIN updates USING (project_id)
        WHERE (project_id = #{projectId} OR parent_id = #{projectId})
        AND show_time &lt;= now()
    </select>

    <select id="getProjectEditDate" parameterType="Integer" resultType="java.util.Date">
        SELECT max(greatest(insertion_time, publish_date))
        FROM projects
        INNER JOIN volumes USING (project_id)
        INNER JOIN chapters USING (volume_id)
        INNER JOIN texts_history USING (chapter_id)
        WHERE (project_id = #{projectId} OR parent_id = #{projectId})
        AND publish_date &lt;= now()
    </select>

    <select id="getSubProjectsByParentProjectId" parameterType="Integer" resultMap="ProjectResult">
        SELECT *
        FROM projects
        WHERE parent_id = #{parentId}
        ORDER BY order_number;
    </select>

    <insert id="insertProject" parameterType="ru.ruranobe.mybatis.entities.tables.Project" keyProperty="projectId"
            useGeneratedKeys="true">
        INSERT INTO projects
        SET parent_id = #{parentId},
        image_id = #{imageId},
        url = #{url},
        title = #{title},
        name_jp = #{nameJp},
        name_en = #{nameEn},
        name_ru = #{nameRu},
        name_romaji = #{nameRomaji},
        author = #{author},
        illustrator = #{illustrator},
        original_design = #{originalDesign},
        original_story = #{originalStory},
        order_number = #{orderNumber},
        onevolume = #{onevolume},
        franchise = #{franchise},
        annotation = #{annotation},
        forum_id = #{forumId},
        status = #{status},
        issue_status = #{issueStatus},
        translation_status = #{translationStatus}
    </insert>

    <update id="updateProject" parameterType="ru.ruranobe.mybatis.entities.tables.Project">
        UPDATE projects
        SET parent_id = #{parentId},
        image_id = #{imageId},
        url = #{url},
        title = #{title},
        name_jp = #{nameJp},
        name_en = #{nameEn},
        name_ru = #{nameRu},
        name_romaji = #{nameRomaji},
        author = #{author},
        illustrator = #{illustrator},
        original_design = #{originalDesign},
        original_story = #{originalStory},
        order_number = #{orderNumber},
        onevolume = #{onevolume},
        franchise = #{franchise},
        annotation = #{annotation},
        forum_id = #{forumId},
        status = #{status},
        issue_status = #{issueStatus},
        translation_status = #{translationStatus}
        WHERE project_id = #{projectId}
    </update>

    <delete id="deleteProject" parameterType="int">
        DELETE FROM projects
        WHERE project_id = #{projectId}
    </delete>

    <select id="getAllPeople" resultType="string">
        SELECT DISTINCT author
        FROM projects
        UNION
        SELECT DISTINCT illustrator
        FROM projects
        UNION
        SELECT DISTINCT original_design
        FROM projects
        UNION
        SELECT DISTINCT original_story
        FROM projects
        UNION
        SELECT DISTINCT author
        FROM volumes
        UNION
        SELECT DISTINCT illustrator
        FROM volumes
        UNION
        SELECT DISTINCT original_design
        FROM volumes
        UNION
        SELECT DISTINCT original_story
        FROM volumes
    </select>

    <resultMap type="ru.ruranobe.mybatis.entities.tables.Project" id="ProjectResult">
        <id property="projectId" column="project_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="imageId" column="image_id"/>
        <result property="url" column="url"/>
        <result property="nameJp" column="name_jp"/>
        <result property="nameEn" column="name_en"/>
        <result property="nameRu" column="name_ru"/>
        <result property="nameRomaji" column="name_romaji"/>
        <result property="author" column="author"/>
        <result property="illustrator" column="illustrator"/>
        <result property="originalDesign" column="original_design"/>
        <result property="originalStory" column="original_story"/>
        <result property="orderNumber" column="order_number"/>
        <result property="onevolume" column="onevolume" javaType="java.lang.Boolean"/>
        <result property="franchise" column="franchise"/>
        <result property="annotation" column="annotation"/>
        <result property="forumId" column="forum_id"/>
        <result property="status" column="status"/>
        <result property="issueStatus" column="issue_status"/>
        <result property="translationStatus" column="translation_status"/>
    </resultMap>

</mapper>