<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.ruranobe.mybatis.mappers.ProjectsMapper">

    <!-- The only need for this cache is operation getProjectsByUrl -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>

    <select id="getAllProjects" resultMap="ProjectResult">
        SELECT * FROM projects
    </select>

    <select id="getProjectByUrl" parameterType="String" resultMap="ProjectResult">
        SELECT *
        FROM projects
        WHERE url = #{url}
    </select>

    <select id="getSubProjectsByParentProjectId" parameterType="Integer" resultMap="ProjectResult">
        SELECT *
        FROM projects
        WHERE parent_id = #{parentId}
        ORDER BY order_number;
    </select>

    <resultMap type="ru.ruranobe.mybatis.tables.Project" id="ProjectResult">
        <id property="projectId" column="project_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="imageId" column="image_id"/>
        <result property="url" column="url"/>
        <result property="title" column="title"/>
        <result property="orderNumber" column="order_number"/>
        <result property="bannerHidden" column="banner_hidden"/>
        <result property="projectHidden" column="project_hidden"/>
        <result property="franchise" column="franchise"/>
        <result property="annotation" column="annotation"/>
        <result property="author" column="author"/>
        <result property="illustrator" column="illustrator"/>
    </resultMap>

    <!--select id="getSeriesById" parameterType="int" resultType="ru.ruranobe.mybatis.tables.Series">
        SELECT
            series_id as seriesId,
            name_url as nameUrl,
            title,
            parent_id as parentId
        FROM main_series
        WHERE series_id = #{seriesId}
    </select>
    
    <select id="getSeriesByUrl" parameterType="String" resultType="ru.ruranobe.mybatis.tables.Series">
        SELECT
            series_id as seriesId,
            name_url as nameUrl,
            title,
            parent_id as parentId
        FROM main_series
        WHERE name_url = #{url}
    </select>

    <resultMap type="ru.ruranobe.mybatis.tables.Series" id="SeriesResult">
        <id property="seriesId" column="series_id"/>
        <result property="nameUrl" column="name_url"/>
        <result property="title" column="title"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>

    <select id="getAllSeries" resultMap="SeriesResult">
        SELECT * FROM main_series
    </select>

    <insert id="insertSeries" parameterType="ru.ruranobe.mybatis.tables.Series" useGeneratedKeys="true" keyProperty="seriesId">
        INSERT INTO SERIES(series_id, name_url, title, parent_id)
        VALUES(#{seriesId}, #{nameUrl}, #{title}, #{parentId})
    </insert>

    <update id="updateSeries" parameterType="ru.ruranobe.mybatis.tables.Series">
        UPDATE main_series
        SET
            name_url = #{nameUrl},
            title = #{title},
            parent_id = #{parentId}
        WHERE series_id = #{seriesId}
    </update>

    <delete id="deleteSeries" parameterType="int">
        DELETE FROM main_series WHERE series_id = #{seriesId}
    </delete-->

</mapper>