<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.ruranobe.mybatis.mappers.TeamsMapper">

    <select id="getTeamById" parameterType="int" resultMap="TeamResult">
        SELECT *
        FROM teams
        WHERE team_id = #{memberId}
    </select>

    <select id="getTeamByMember" parameterType="string" resultMap="TeamResult">
        SELECT *
        FROM team_members
            INNER JOIN teams USING (team_id)
        WHERE nickname = #{nickname}
    </select>

    <select id="getAllTeams" resultMap="TeamResult">
        SELECT *
        FROM teams
        ORDER BY team_id ASC
    </select>

    <insert id="insertTeam" parameterType="ru.ruranobe.mybatis.entities.tables.Team" keyProperty="teamId"
            useGeneratedKeys="true">
        INSERT INTO teams (team_name, team_website_link)
        VALUES (#{teamName}, #{teamWebsiteLink})
    </insert>

    <delete id="deleteTeam" parameterType="int">
        DELETE FROM teams
        WHERE team_id = #{teamId}
    </delete>

    <update id="updateTeam" parameterType="ru.ruranobe.mybatis.entities.tables.Team">
        UPDATE teams
        SET team_name = #{teamName}, team_website_link = #{teamWebsiteLink}
        WHERE team_id = #{teamId}
    </update>

    <resultMap type="ru.ruranobe.mybatis.entities.tables.Team" id="TeamResult">
        <id property="teamId" column="team_id"/>
        <result property="teamName" column="team_name"/>
        <result property="teamWebsiteLink" column="team_website_link"/>
    </resultMap>

</mapper>
