<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.ruranobe.mybatis.mappers.TeamMembersMapper">

    <select id="getTeamMemberById" parameterType="int" resultMap="TeamMemberResult">
        SELECT *
        FROM team_members
        WHERE team_id = #{teamId}
    </select>

    <select id="getAllTeamMembers" resultMap="TeamMemberResult">
        SELECT *
        FROM team_members
        order by member_id asc
    </select>

    <insert id="insertTeamMember" parameterType="ru.ruranobe.mybatis.entities.tables.TeamMember" keyProperty="memberId" useGeneratedKeys="true">
        insert into team_members (team_id, nikname, active)
        values (#{teamId}, #{nikname}, #{active})
    </insert>

    <delete id="deleteTeamMember" parameterType="int">
        delete from team_members where member_id=#{memberId}
    </delete>

    <update id="updateTeamMember" parameterType="ru.ruranobe.mybatis.entities.tables.TeamMember">
        update team_members set team_id = #{teamId}, nikname=#{nikname}, active=#{active}
        where member_id=#{memberId}
    </update>

    <resultMap type="ru.ruranobe.mybatis.entities.tables.TeamMember" id="TeamMemberResult">
        <id property="memberId" column="member_id"/>
        <result property="userId" column="user_id"/>
        <result property="teamId" column="team_id"/>
        <result property="nikname" column="nikname"/>
        <result property="active" column="active"/>
    </resultMap>

</mapper>
