<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.ruranobe.mybatis.mappers.TeamMembersMapper">

    <select id="getTeamMemberById" parameterType="Integer" resultMap="TeamMemberResult">
        SELECT *
        FROM team_members
        WHERE member_id = #{memberId}
    </select>

    <select id="getAllTeamMembersWithUserName" resultMap="TeamMemberResult">
        SELECT *
        FROM team_members
            LEFT JOIN users USING (user_id)
        ORDER BY team_id, nickname
    </select>

    <select id="searchTeamMembersByNickname" parameterType="map" resultMap="TeamMemberResult">
        SELECT *
        FROM team_members
        WHERE nickname LIKE concat('%', #{query}, '%')
        <if test="activeOnly">
            AND EXISTS (SELECT * FROM user_groups WHERE user_id = team_members.user_id)
        </if>
        ORDER BY nickname
    </select>

    <select id="getAllTeamMembers" parameterType="boolean" resultMap="TeamMemberResult">
        SELECT *
        FROM team_members
        <if test="activeOnly">
            WHERE EXISTS (SELECT * FROM user_groups WHERE user_id = team_members.user_id)
        </if>
        ORDER BY nickname
    </select>

    <select id="getTeamMembersByTeamId" parameterType="map" resultMap="TeamMemberResult">
        SELECT *
        FROM team_members
        WHERE team_id &lt;=&gt; #{teamId}
        <if test="activeOnly">
            AND EXISTS (SELECT * FROM user_groups WHERE user_id = team_members.user_id)
        </if>
        ORDER BY nickname
    </select>

    <insert id="insertTeamMember" parameterType="ru.ruranobe.mybatis.entities.tables.TeamMember" keyProperty="memberId"
            useGeneratedKeys="true">
        INSERT INTO team_members
        SET team_id  = #{teamId},
            nickname = #{nickname},
            user_id  = #{userId}
    </insert>

    <insert id="insertIgnoreTeamMember" parameterType="string" useGeneratedKeys="true">
        INSERT IGNORE INTO team_members
        SET nickname = #{nickname}
    </insert>

    <delete id="deleteTeamMember" parameterType="int">
        DELETE FROM team_members
        WHERE member_id = #{memberId}
    </delete>

    <update id="updateTeamMember" parameterType="ru.ruranobe.mybatis.entities.tables.TeamMember">
        UPDATE team_members
        SET team_id  = #{teamId},
            nickname = #{nickname},
            user_id  = #{userId}
        WHERE member_id = #{memberId}
    </update>

    <resultMap type="ru.ruranobe.mybatis.entities.tables.TeamMember" id="TeamMemberResult">
        <id property="memberId" column="member_id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="username"/>
        <result property="teamId" column="team_id"/>
        <result property="nickname" column="nickname"/>
    </resultMap>

</mapper>
