<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.ruranobe.mybatis.mappers.UsersMapper">

    <!--cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache-->

    <select id="getUserByEmail" parameterType="String" resultMap="UserResult">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <select id="getUserByUsername" parameterType="String" resultMap="UserResult">
        SELECT *
        FROM users
        WHERE username = #{username}
    </select>

    <select id="getUserById" parameterType="Integer" resultMap="UserResult">
        SELECT *
        FROM users
        WHERE user_id = #{userId}
    </select>

    <select id="searchUsersByUsername" parameterType="map" resultMap="UserResult">
        SELECT *
        FROM users
        WHERE username LIKE concat('%', #{query}, '%')
    </select>

    <select id="getUserByPassRecoveryToken" parameterType="String" resultMap="UserResult">
        SELECT *
        FROM users
        WHERE pass_recovery_token = #{passRecoveryToken}
    </select>

    <select id="getOwnProjectsByUser" parameterType="int" resultType="string">
        SELECT DISTINCT coalesce(p.url, pp.url)
        FROM users
            INNER JOIN team_members USING (user_id)
            INNER JOIN volume_release_activities USING (member_id)
            INNER JOIN volumes USING (volume_id)
            INNER JOIN projects p USING (project_id)
            LEFT JOIN projects pp ON p.parent_id = pp.project_id
        WHERE (p.url IS NOT NULL OR pp.url IS NOT NULL)
              AND user_id = #{userId}
    </select>

    <select id="getUserByEmailToken" parameterType="String" resultMap="UserResult">
        SELECT *
        FROM users
        WHERE email_token = #{emailToken}
    </select>

    <insert id="registerUser" parameterType="ru.ruranobe.mybatis.entities.tables.User" keyProperty="userId"
            useGeneratedKeys="true">
        INSERT INTO users
        SET
            username                 = #{username},
            realname                 = #{realname},
            pass                     = #{pass},
            pass_recovery_token      = #{passRecoveryToken},
            pass_recovery_token_date = #{passRecoveryTokenDate},
            pass_version             = #{passVersion},
            email                    = #{email},
            email_token              = #{emailToken},
            email_token_date         = #{emailTokenDate},
            email_activated          = #{emailActivated},
            registration_date        = #{registrationDate},
            converter_type           = #{converterType},
            navigation_type          = #{navigationType},
            convert_with_imgs        = #{convertWithImgs},
            adult                    = #{adult},
            prefer_colored_imgs      = #{preferColoredImgs},
            show_hidden_content      = #{showHiddenContent},
            convert_imgs_size        = #{convertImgsSize}
    </insert>

    <update id="updateUser" parameterType="ru.ruranobe.mybatis.entities.tables.User">
        UPDATE users
        SET
            username                 = #{username},
            realname                 = #{realname},
            pass                     = #{pass},
            pass_recovery_token      = #{passRecoveryToken},
            pass_recovery_token_date = #{passRecoveryTokenDate},
            pass_version             = #{passVersion},
            email                    = #{email},
            email_token              = #{emailToken},
            email_token_date         = #{emailTokenDate},
            email_activated          = #{emailActivated},
            registration_date        = #{registrationDate},
            converter_type           = #{converterType},
            navigation_type          = #{navigationType},
            convert_with_imgs        = #{convertWithImgs},
            adult                    = #{adult},
            prefer_colored_imgs      = #{preferColoredImgs},
            show_hidden_content      = #{showHiddenContent},
            convert_imgs_size        = #{convertImgsSize}
        WHERE user_id = #{userId}
    </update>

    <resultMap id="UserResult" type="ru.ruranobe.mybatis.entities.tables.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="realname" column="realname"/>
        <result property="pass" column="pass"/>
        <result property="passVersion" column="pass_version"/>
        <result property="passRecoveryToken" column="pass_recovery_token"/>
        <result property="passRecoveryTokenDate" column="pass_recovery_token_date"/>
        <result property="email" column="email"/>
        <result property="emailToken" column="email_token"/>
        <result property="emailTokenDate" column="email_token_date"/>
        <result property="emailActivated" column="email_activated"/>
        <result property="registrationDate" column="registration_date"/>
        <result property="converterType" column="converter_type"/>
        <result property="navigationType" column="navigation_type"/>
        <result property="convertWithImgs" column="convert_with_imgs"/>
        <result property="adult" column="adult"/>
        <result property="preferColoredImgs" column="prefer_colored_imgs"/>
        <result property="showHiddenContent" column="show_hidden_content"/>
        <result property="convertImgsSize" column="convert_imgs_size"/>
    </resultMap>
</mapper>