<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.ruranobe.mybatis.mappers.VolumesMapper">

    <!--cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache-->

    <select id="getInfoByProjectId" parameterType="int" resultType="ru.ruranobe.mybatis.tables.ProjectInfo">
        SELECT
            count(*)              AS volumesCount,
            volumes.author,
            volumes.illustrator,
            volumes.volume_status AS volumeStatus
        FROM (SELECT count(*)
              FROM volumes
              WHERE project_id = #{projectId}) volumesCount, volumes
        WHERE volumes.project_id = #{projectId}
        ORDER BY volume_id DESC
        LIMIT 1
    </select>

    <select id="getVolumeByUrl" parameterType="String" resultMap="VolumeResult">
        SELECT *
        FROM volumes
        WHERE url = #{url}
    </select>

    <select id="getVolumeNextPrevByUrl" parameterType="String" resultMap="VolumeResult">
        SELECT
            v.*,
            prev_vol.name_short prev_name_short,
            prev_vol.url        prev_url,
            next_vol.name_short next_name_short,
            next_vol.url        next_url
        FROM (SELECT
                  v.*,
                  projects.title AS project_title,
                  (SELECT max(sequence_number)
                   FROM volumes
                   WHERE volumes.sequence_number &lt; v.sequence_number AND volumes.project_id = v.project_id
                   ORDER BY sequence_number DESC
                   LIMIT 1)      AS prev_sequence_number,
                  (SELECT min(sequence_number)
                   FROM volumes
                   WHERE volumes.sequence_number &gt; v.sequence_number AND volumes.project_id = v.project_id
                   ORDER BY sequence_number ASC
                   LIMIT 1)      AS next_sequence_number
              FROM volumes v
                  INNER JOIN projects USING (project_id)
              WHERE v.url = #{url}) v
            LEFT JOIN volumes prev_vol
                ON v.prev_sequence_number = prev_vol.sequence_number AND v.project_id = prev_vol.project_id
            LEFT JOIN volumes next_vol
                ON v.next_sequence_number = next_vol.sequence_number AND v.project_id = next_vol.project_id
    </select>

    <select id="getVolumesByProjectId" parameterType="int" resultMap="VolumeResult">
        SELECT *
        FROM volumes
        WHERE project_id = #{projectId}
    </select>

    <update id="updateVolume" parameterType="ru.ruranobe.mybatis.tables.Volume">
        update volumes
        set
          project_id = #{projectId},
          image_one = #{imageOne},
          image_two = #{imageTwo},
          image_three = #{imageThree},
          image_four = #{imageFour},
          url = #{url},
          name_file = #{nameFile},
          name_title = #{nameTitle},
          name_jp = #{nameJp},
          name_en = #{nameEn},
          name_ru = #{nameRu},
          name_romaji = #{nameRomaji},
          name_short = #{nameShort},
          sequence_number = #{sequenceNumber},
          author = #{author},
          illustrator = #{illustrator},
          original_design = #{originalDesign},
          release_date = #{releaseDate},
          isbn = #{isbn},
          external_url = #{externalUrl},
          volume_type = #{volumeType},
          volume_status = #{volumeStatus},
          volume_status_hint = #{volumeStatusHint},
          adult = #{adult},
          annotation = #{annotation}
        where volume_id = #{volumeId}
    </update>

    <update id="updateVolumeCovers" parameterType="ru.ruranobe.mybatis.tables.Volume">
        UPDATE volumes
        SET
            image_one   = #{imageOne},
            image_two   = #{imageTwo},
            image_three = #{imageThree},
            image_four  = #{imageFour}
        WHERE volume_id = #{volumeId}
    </update>

    <insert id="insertVolume" parameterType="ru.ruranobe.mybatis.tables.Volume" keyProperty="volumeId" useGeneratedKeys="true">
        INSERT INTO volumes (project_id, image_one, image_two, image_three, image_four, url, name_file, name_title, name_jp,
        name_en, name_ru, name_romaji, name_short, sequence_number, author, illustrator, original_design, release_date,
        isbn, external_url, volume_type, volume_status, volume_status_hint, adult, annotation)
        VALUES (#{projectId}, #{imageOne}, #{imageTwo}, #{imageThree}, #{imageFour}, #{url}, #{nameFile}, #{nameTitle}, #{nameJp},
        #{nameEn}, #{nameRu}, #{nameRomaji}, #{nameShort}, #{sequenceNumber}, #{author}, #{illustrator},
        #{originalDesign}, #{releaseDate}, #{isbn}, #{externalUrl}, #{volumeType}, #{volumeStatus}, #{volumeStatusHint}, #{adult}, #{annotation})
    </insert>

    <delete id="deleteVolume" parameterType="int">
        delete from volumes where volume_id = #{volumeId}
    </delete>

    <resultMap type="ru.ruranobe.mybatis.tables.Volume" id="VolumeResult">
        <id property="volumeId" column="volume_id"/>
        <result property="projectId" column="project_id"/>
        <result property="imageOne" column="image_one"/>
        <result property="imageTwo" column="image_two"/>
        <result property="imageThree" column="image_three"/>
        <result property="imageFour" column="image_four"/>
        <result property="url" column="url"/>
        <result property="nameFile" column="name_file"/>
        <result property="nameTitle" column="name_title"/>
        <result property="nameJp" column="name_jp"/>
        <result property="nameEn" column="name_en"/>
        <result property="nameRu" column="name_ru"/>
        <result property="nameRomaji" column="name_romaji"/>
        <result property="nameShort" column="name_short"/>
        <result property="subProjectName" column="project_title"/>
        <result property="sequenceNumber" column="sequence_number"/>
        <result property="author" column="author"/>
        <result property="illustrator" column="illustrator"/>
        <result property="originalDesign" column="original_design"/>
        <result property="releaseDate" column="release_date"/>
        <result property="isbn" column="isbn"/>
        <result property="externalUrl" column="external_url"/>
        <result property="volumeType" column="volume_type"/>
        <result property="volumeStatus" column="volume_status"/>
        <result property="volumeStatusHint" column="volume_status_hint"/>
        <result property="adult" column="adult"/>
        <result property="annotation" column="annotation"/>
        <result property="prevUrl" column="prev_url"/>
        <result property="prevNameShort" column="prev_name_short"/>
        <result property="nextUrl" column="next_url"/>
        <result property="nextNameShort" column="next_name_short"/>
    </resultMap>

</mapper>