<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="en">
<body>
<wicket:panel>
    <div class="modal-dialog" role="document">
        <form wicket:id="userSettings">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidtimes;></span></button>
                    <h4 class="modal-title" id="settingsLabel">Настройки сайта</h4>
                </div>
                <div class="modal-body">
                    <form id="settingsForm" class="form-inline">
                        <div class="form-group hidden">
                            <label wicket:for="converterType">Предпочитаемый формат скачивания</label>
                            <select wicket:id="converterType" class="form-control" name="downloadType"/>
                        </div>
                        <div class="form-group">
                            <label wicket:for="navigationType">Преимущественно навигация по</label>
                            <select wicket:id="navigationType" class="form-control" name="downloadType"/>
                        </div>
                        <hr/>
                        <div class="form-group hidden">
                            <input wicket:id="convertWithImgs" type="checkbox" checked name="downloadImage">
                            <label wicket:for="convertWithImgs">Скачивать с иллюстрациями</label>
                        </div>
                        <br/>
                        <div class="form-group hidden">
                            <input wicket:id="adult" type="checkbox" name="adult18">
                            <label wicket:for="adult">Отображать материалы для взрослых (18)</label>
                        </div>
                        <br/>
                        <div class="form-group">
                            <input wicket:id="preferColoredImgs" type="checkbox" checked name="blackImage">
                            <label wicket:for="preferColoredImgs">Отображать цветные иллюстрации вместо черно-белых при наличии</label>
                        </div>
                        <br/>
                        <div class="form-group hidden">
                            <label wicket:for="convertImgsSize">Размер иллюстраций в конвертере</label>
                            <input wicket:id="convertImgsSize" type="text" class="form-control" name="irastSize" size="4"> px
                        </div>
                        <div class="form-group" wicket:enclosure="">
                            <input wicket:id="showHiddenContent" type="checkbox" checked>
                            <label wicket:for="showHiddenContent">Отображать скрытый контент</label>
                        </div>
                    </form>
                    <hr/>
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-default btn-sm settingsPass" data-toggle="modal" data-target="#settingsPassModal"><i class="fa fa-cog"></i> Сменить пароль</button>
                        <button type="button" class="btn btn-default btn-sm settingsEmail" data-toggle="modal" data-target="#settingsEmailModal"><i class="fa fa-cog"></i> Сменить Email</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                    <button wicket:id="saveUserSettings" type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</wicket:panel>
</body>
</html>
