body.works .btn-primary {
    background-color: #01bfaa;
}

body.works .btn-primary:hover, body.works .btn-primary:focus {
    background-color: #2d9085;
}

body.works .btn-primary.disabled, body.works .btn-primary:disabled, body.works .btn-primary[disabled] {
    background-color: #01bfaa;
}

body.works .secondLogo {
    background-image: url(../img/logo2works.png);
    background-color: #7be9dd;
}

body.works .navbar-top {
    background-color: #01bfaa;
}

body.works .miniSearch > button {
    background-color: #01bfaa;
}

body.works .btn-white {
    color: #01bfaa;
    background-color: #FFF;
}

body.works .navbar-brand {
    background-image: url(../img/logo1works.png);
}