/* body.night START */
body.night .navbar-default .navbar-nav > li > a:hover, body.night .navbar-default .navbar-nav > li > a:focus {
    color: #E0E0E0;
    border-bottom: 1px dashed #777;
}
body.night .ranobeList > div > a, body.night .read > a {
    color: #E0E0E0;
}
body.night .ranobeList > div > .pull-left{
    color: #282828;
}
body.night .ranobeList > div:hover > a{
    color: #282828;
}
body.night .ranobeList > div:hover > .pull-left{
    background-color: #282828;
    color: #E0E0E0;
}
body.night .navbar-default .navbar-nav > li > span {
    color: #E0E0E0;
}
body.night .aboutRelease {
    color: #E0E0E0;
}
body.night #vk_groups, body.night .twitter-timeline, body.night .project img {
    opacity: 0.9;
}
body.night .text p.show {
    background: #424242;
    cursor: pointer;
}
body.night .text p.show:hover {
    border: 1px dashed #E0E0E0;
}
body.night center.project {
    opacity: 0.5;
}
body.night .fancybox-skin {
    background-color: #282828;
}
body.night .modal-content {
    background-color: #282828;
}
body.night .close {
    color: #E0E0E0;
}
body.night .popover,
body.night .popover-title {
    color: #E0E0E0;
    background-color: #282828;
}
body.night .popover.right>.arrow:after,
body.night .popover.bottom>.arrow:after,
body.night .popover.top>.arrow:after,
body.night .popover.left>.arrow:after {
    border-right-color: #282828;
}
body.night .moduleIcon.list {
    background: #4E4E4E url("../img/list_active.png") no-repeat scroll 10px 20px;
}
body.night .moduleIcon.type1 {
    background: #4E4E4E url("../img/updIcons/icon1_active.png") no-repeat scroll 10px 8px;
}
body.night .moduleIcon.type2 {
    background: #4E4E4E url("../img/updIcons/icon2_active.png") no-repeat scroll 10px 8px;
}
body.night .moduleIcon.type3 {
    background: #4E4E4E url("../img/updIcons/icon3_active.png") no-repeat scroll 10px 8px;
}
body.night .moduleIcon.type4 {
    background: #4E4E4E url("../img/updIcons/icon4_active.png") no-repeat scroll 10px 8px;
}
body.night .ContentNav > li > a {
    color: #FFF;
}
body.night .leftbg,
body.night .rightbg {
    -moz-border-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216px%22%20height=%2220px%22%3E%3Cpolygon%20points=%2212,4%2016,8%2012,12%2016,16%2012,20%208,16%204,20%200,16%204,12%200,8%204,4%200,0%200,20%2016,20%2016,0%22%20fill=%22#282828%22/%3E%3Cpolygon%20points=%220,0%208,8%2016,0%22%20fill=%22#4E4E4E%22/%3E%3C/svg%3E") 8 4 4 4 / 8px 4px 4px round;
    -webkit-border-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216px%22%20height=%2220px%22%3E%3Cpolygon%20points=%2212,4%2016,8%2012,12%2016,16%2012,20%208,16%204,20%200,16%204,12%200,8%204,4%200,0%200,20%2016,20%2016,0%22%20fill=%22#282828%22/%3E%3Cpolygon%20points=%220,0%208,8%2016,0%22%20fill=%22#4E4E4E%22/%3E%3C/svg%3E") 8 4 4 4 / 8px 4px 4px round;
    -o-border-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216px%22%20height=%2220px%22%3E%3Cpolygon%20points=%2212,4%2016,8%2012,12%2016,16%2012,20%208,16%204,20%200,16%204,12%200,8%204,4%200,0%200,20%2016,20%2016,0%22%20fill=%22#282828%22/%3E%3Cpolygon%20points=%220,0%208,8%2016,0%22%20fill=%22#4E4E4E%22/%3E%3C/svg%3E") 8 4 4 4 / 8px 4px 4px round;
    border-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216px%22%20height=%2220px%22%3E%3Cpolygon%20points=%2212,4%2016,8%2012,12%2016,16%2012,20%208,16%204,20%200,16%204,12%200,8%204,4%200,0%200,20%2016,20%2016,0%22%20fill=%22#282828%22/%3E%3Cpolygon%20points=%220,0%208,8%2016,0%22%20fill=%22#4E4E4E%22/%3E%3C/svg%3E") 8 4 4 4 / 8px 4px 4px round;
}
@media screen and (max-width: 767px) {
    body.night .leftbg,
    body.night .rightbg {
        -moz-border-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216px%22%20height=%2220px%22%3E%3Cpolygon%20points=%2212,4%2016,8%2012,12%2016,16%2012,20%208,16%204,20%200,16%204,12%200,8%204,4%200,0%200,20%2016,20%2016,0%22%20fill=%22#000000%22/%3E%3Cpolygon%20points=%220,0%208,8%2016,0%22%20fill=%22#60A9D4%22/%3E%3C/svg%3E") 8 4 4 4 / 8px 4px 4px round;
        -webkit-border-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216px%22%20height=%2220px%22%3E%3Cpolygon%20points=%2212,4%2016,8%2012,12%2016,16%2012,20%208,16%204,20%200,16%204,12%200,8%204,4%200,0%200,20%2016,20%2016,0%22%20fill=%22#000000%22/%3E%3Cpolygon%20points=%220,0%208,8%2016,0%22%20fill=%22#60A9D4%22/%3E%3C/svg%3E") 8 4 4 4 / 8px 4px 4px round;
        -o-border-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216px%22%20height=%2220px%22%3E%3Cpolygon%20points=%2212,4%2016,8%2012,12%2016,16%2012,20%208,16%204,20%200,16%204,12%200,8%204,4%200,0%200,20%2016,20%2016,0%22%20fill=%22#000000%22/%3E%3Cpolygon%20points=%220,0%208,8%2016,0%22%20fill=%22#60A9D4%22/%3E%3C/svg%3E") 8 4 4 4 / 8px 4px 4px round;
        border-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216px%22%20height=%2220px%22%3E%3Cpolygon%20points=%2212,4%2016,8%2012,12%2016,16%2012,20%208,16%204,20%200,16%204,12%200,8%204,4%200,0%200,20%2016,20%2016,0%22%20fill=%22#000000%22/%3E%3Cpolygon%20points=%220,0%208,8%2016,0%22%20fill=%22#60A9D4%22/%3E%3C/svg%3E") 8 4 4 4 / 8px 4px 4px round;
    }
}
body.night .navbar-top {
    background-color: #282828;
}
body.night .banners img {
    opacity: 0.5;
}
body.night .btn,
body.night .navbar-lower,
body.night .module .actions div,
body.night .footer,
body.night .updBlock,
body.night .updTitle,
body.night .miniSearch > input {
    background-color: #4E4E4E;
    color: #E0E0E0;
}
body.night .updTitle > a {
    color: #E0E0E0 !important;
}
body.night .module_name,
body.night .module .actions div a,
body.night .navbar-lower a {
    color: #E0E0E0;
}
body.night .actions > div > a:hover,
body.night .navbar-lower a:hover {
    border-bottom-color: #E0E0E0;
    color: #E0E0E0;
}
body.night .navbar-right .btn-danger {
    background-color: #b52a3d;
}
body.night .navbar-right .btn-primary,
body.night .updDate, body.night .updType {
    background-color: #282828;
}
body.night .navbar-right a.btn-outline {
    background: #65A4D2;
    border: 0;
}
body.night .controlText div .hint {
    background: #282828;
    border-top-color: #4E4E4E;
    border-bottom-color: #4E4E4E;
    color: #E0E0E0;
}
body.night .secondLogoContainer {
    opacity: .7;
}
body.night .comments div,
body.night .footer a {
    color: #E0E0E0;
}
body.night .comments div a,
body.night .copyright {
    color: #4D4D4D;
}
body.night .right-sidebar {
    color: #000;
}
body.night.red .leftColumn {
    color: #FFF;
}
body.night {
    background: #282828;
    color: #DFDFDF;
}
body.night .controlText div .hint .miniicon {
    background: url('../img/actions/textControl2.png') left no-repeat;
}
/* body.night END */