.sub-chapter {
    padding-left: 15px;
}

#images .form-item img {
    max-height: 180px;
    margin: 0 auto;
}

.fileupload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

#images a.list-group-item .center {
    display: inline-block;
    height: 32px;
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
}