section {
    padding-top: 20px;
}

.post {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em 40px;
    *zoom: 1;
    width: calc(100% - 40px);
}

.post-img {
    float: left;
    margin-right: 33px;
    border-radius: 50%;
    overflow: hidden;
}

.post-img img {
    display: block
}

.post-body {
    overflow: hidden
}

.post .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.post .text p:last-child {
    margin: 0
}

.post .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

.posts,
.post {
    position: relative
}

.posts:before,
.post:before,
.post .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.posts:before {
    width: 3px;
    left: 105px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
}

.post:before {
    width: 9px;
    height: 9px;
    margin: 17px 0 0 -3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #ccc;
    border: 3px solid #fff;
    border-radius: 100px;
}

.post .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
