body.works .btn-primary {
    background-color: #01bfaa;
}

body.works .btn-primary:hover, body.works .btn-primary:focus {
    background-color: #2d9085;
}

body.works .btn-primary.disabled, body.works .btn-primary:disabled, body.works .btn-primary[disabled] {
    background-color: #01bfaa;
}

body.works .secondLogo {
    background-image: url(../img/logo2works.png);
    background-color: #7be9dd;
}

body.works .navbar-top {
    background-color: #01bfaa;
}

body.works .miniSearch > button {
    background-color: #01bfaa;
}

body.works .navbar-form .btn-white {
    color: #01bfaa;
}

body.works .navbar-brand {
    background-image: url(../img/logo1works.png);
}

@media screen and (max-width: 767px) {
    body.works .leftbg, body.works .rightbg {
        -moz-border-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216px%22%20height=%2220px%22%3E%3Cpolygon%20points=%2212,4%2016,8%2012,12%2016,16%2012,20%208,16%204,20%200,16%204,12%200,8%204,4%200,0%200,20%2016,20%2016,0%22%20fill=%22#FFFFFF%22/%3E%3Cpolygon%20points=%220,0%208,8%2016,0%22%20fill=%22#01bfaa%22/%3E%3C/svg%3E") 8 4 4 4 / 8px 4px 4px round;
        -webkit-border-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216px%22%20height=%2220px%22%3E%3Cpolygon%20points=%2212,4%2016,8%2012,12%2016,16%2012,20%208,16%204,20%200,16%204,12%200,8%204,4%200,0%200,20%2016,20%2016,0%22%20fill=%22#FFFFFF%22/%3E%3Cpolygon%20points=%220,0%208,8%2016,0%22%20fill=%22#01bfaa%22/%3E%3C/svg%3E") 8 4 4 4 / 8px 4px 4px round;
        -o-border-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216px%22%20height=%2220px%22%3E%3Cpolygon%20points=%2212,4%2016,8%2012,12%2016,16%2012,20%208,16%204,20%200,16%204,12%200,8%204,4%200,0%200,20%2016,20%2016,0%22%20fill=%22#FFFFFF%22/%3E%3Cpolygon%20points=%220,0%208,8%2016,0%22%20fill=%22#01bfaa%22/%3E%3C/svg%3E") 8 4 4 4 / 8px 4px 4px round;
        border-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216px%22%20height=%2220px%22%3E%3Cpolygon%20points=%2212,4%2016,8%2012,12%2016,16%2012,20%208,16%204,20%200,16%204,12%200,8%204,4%200,0%200,20%2016,20%2016,0%22%20fill=%22#FFFFFF%22/%3E%3Cpolygon%20points=%220,0%208,8%2016,0%22%20fill=%22#01bfaa%22/%3E%3C/svg%3E") 8 4 4 4 / 8px 4px 4px round;
    }
}

.works .updType,
.works .updDate {
    background-color: #a5f3ea
}

.works .updIcon,
.works .updTitle {
    background-color: #dbfaf7;
}