<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="en">
<body>
<wicket:panel>
    <h2 id="comments">Комментарии</h2>

    <div class="input-group input-group-lg sharp comment-form">
        <textarea type="text" class="form-control" placeholder="Введите комментарии" rows="3"></textarea>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Отправить</button>
                    </span>
    </div>
    <div class="comments">
    </div>
</wicket:panel>
</body>
</html>