<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="en">
<body>
<wicket:panel>
    <form wicket:id="emailPasswordRecoveryForm" class="form-inline" align="center">
        <div class="modal-body">
            <div class="form-group">
                Для смены пароля на ваш электронный адрес будет отослано письмо.<br> Следуйте инструкциям из письма.
                <hr>
                <label wicket:for="email">Введите свой email&nbsp;&nbsp;</label>
                <input wicket:id="email" type="text" class="form-control" name="passNow">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
            <button type="button" class="btn btn-primary">Отправить письмо</button>
        </div>
    </form>
    <div wicket:id="feedback"></div>
</wicket:panel>
</body>
</html>