<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="en">
<body>
<wicket:panel>
    <form wicket:id="loginForm" class="login-form form-horizontal">
        <div class="form-group">
            <label for="inputLoginModal" class="col-sm-2 control-label">Логин</label>

            <div class="col-sm-10">
                <input wicket:id="username" type="text" class="form-control" id="inputLoginModal"
                       placeholder="Логин" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPasswordModal" class="col-sm-2 control-label">Пароль</label>

            <div class="col-sm-10">
                <input wicket:id="password" type="password" class="form-control" id="inputPasswordModal"
                       placeholder="Пароль" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input wicket:id="rememberMe" type="checkbox"> Запомнить
                    </label>
                    <button type="button" class="btn btn-default btn-sm changePass" data-toggle="modal" data-target="#changePassModal"><i class="fa fa-cog"></i> Забыли пароль?</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Вход</button>
            </div>
        </div>
    </form>
    <div wicket:id="feedback"/>
</wicket:panel>
</body>
</html>
