<!DOCTYPE html>
<html lang="en"
      xmlns:wicket="https://git1-us-west.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket.xsd">
<body>
<wicket:panel>
    <div class="module">
        <div class="module_name opened">
            <i class="fa fa-chevron-down pull-left"></i>
            <div class="h4">Проекты</div>
        </div>
        <div class="actions banners">
            <wicket:container wicket:id="bannersList">
                <a wicket:id="bannerLink" href="..." title="...">
                    <img wicket:id="bannerImage" alt="..." src="..." height="73" width="220">
                </a>
            </wicket:container>
        </div>
    </div>
</wicket:panel>
</body>
</html>